html {
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
}

#root {
  height: 100%;
}

#home {
  height: 100%;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1603989872391-359eb0b42a58?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#endPage {
  height: 100%;
  text-align: center;
  background-image: url("https://images.everydayhealth.com/images/why-you-could-be-drinking-more-than-you-think-1440x810.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

  #thankButton {
    display: inline-block;
    outline: 0;
    border: 0;
    margin-bottom: 1rem;
    cursor: pointer;
    background: #fcfcfd;
    box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%),
      inset 0px -3px 0px #d6d6e7;
    height: 60px;
    padding: 0 32px;
    font-size: 45px;
    font-family: Georgia;
    border-radius: 6px;
    color: black;
    transition: box-shadow 0.15s ease, transform 0.15s ease;
    padding-bottom: 5px;
  }


#greetings {
  font-size: 3rem;
  font-family: Georgia;
  font-style: initial;
  color: white;
}
#homeButton {
  display: inline-block;
  outline: 0;
  border: 0;
  margin-bottom: 1rem;
  cursor: pointer;
  background: #fcfcfd;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%),
    inset 0px -3px 0px #d6d6e7;
  height: 48px;
  padding: 0 32px;
  font-size: 18px;
  font-family: Georgia;
  border-radius: 6px;
  color: #36395a;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}

#homeButton:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%), 0px 7px 13px -3px rgb(45 35 66 / 30%),
    inset 0px -3px 0px #d6d6e7;
  transform: translateY(-2px);
}
#homeButton:active {
  box-shadow: inset 0px 3px 7px #d6d6e7;
  transform: translateY(2px);
}

#enjoy {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Georgia;
  color: #36395a;
  background-color: hsl(0, 0%, 100%, 75%);
}

#orderForm {
  width: 19rem;
  position: fixed;
  max-height: 90%;
  overflow: scroll;
  z-index: 10;

  background-color: hsl(0, 0%, 100%, 85%);
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  border-radius: 0.7rem;
  margin: auto;
  margin-top: 2rem;
  /* text-align: center; */
}

#beers {
  width: 100%;
  position: absolute;
  padding-top: 2rem;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1571613316887-6f8d5cbf7ef7?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.beer {
  background-color: hsl(0, 0%, 100%, 70%);
  box-shadow: 0 2rem 5rem 1rem rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  width: 50rem;
  border-radius: 0.7rem;
  margin: auto;
  margin-top: 50px;
  overflow: hidden;
}

.beerDiv {
  text-align: left;
  font-family: Georgia;
}

img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 0.7rem;
  margin: auto;
}

.picDiv {
  width: 18rem;
  height: 18rem;
  float: left;
  margin: 1rem;
  padding: 3px;
  text-align: center;
}

.boldSpan {
  font-weight: bold;
}

#detailsBrew {
  font-size: 2em;
  font-weight: bold;
}

h3 {
  font-family: Georgia;
  margin-bottom: 0.5rem;
  padding-top: 1.5rem;
  text-align: center;
}

input {
  display: inline-block;
  padding: 0 16px 0 12px;
  /* width: 100%; */
  line-height: 30px;
  height: 32px;
  border: 1px solid #dddbda;
  border-radius: 4px;
  background-color: #fff;
  color: rgb(8, 7, 7);
  transition: border 0.1s linear, background-color 0.1s linear;
}

input:focus {
  border-color: #1b96ff;
  color: var(--sds-c-input-text-color-focus);
  box-shadow: rgb(1, 118, 211) 0px 0px 3px 0px;
}

.buttonClass {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  background: #fff;
  border: 1px solid #d5d9d9;
  font-size: 13px;
  height: 31px;
  padding: 0 11px;
  text-align: center;
  font-weight: 400;
  color: #0f1111;
}

.buttonClass:hover {
  background-color: #f7fafa;
  border-color: #d5d9d9;
}

#orderButton {
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
  color: #e01515a2;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
  margin-bottom: 5%;
  margin-top: 5%;
  font-family: Georgia;
}

#orderButton:hover {
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
}

#totalPrice {
  color: #e01515a2;
  font-weight: bold;
}

.removeButtonClass {
  display: inline-block;
  outline: 0;
  border: none;
  cursor: pointer;
  height: 22px;
  padding: 0px 9px;
  border-radius: 100px;
  background-color: #e0151559;
  color: rgb(8 7 7);
  font-size: 12px;
  float: right;
  margin-right: 1rem;
}

.removeButtonClass:hover {
  background-color: #2222221a;
}

.inputF {
  margin-bottom: 0.5rem;
  text-align: right;
  margin-right: 1.5rem;
}

#inputsDiv {
  text-align: center;
}

.underLine {
  border: 1px solid #828080c9;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0;
}

.orderedProduct {
  text-align: left;
  margin-left: 1rem;
}

#inputsForm {
  text-align: center;
}

.ordered {
  margin-bottom: 1rem;
}
